matplotlib
numpy
pandas
seaborn
jupyter_client
jupyter_core
jupyter_server
nbclient
nbconvert
nbformat
notebook
psycopg2
scipy
sqlalchemy
dask
distributed
ipyfilechooser
ipysheet
openpyxl
jupyterlab-sos
mamba