matplotlib
numpy
pandas
seaborn
octave_kernel
jupyter_client
jupyter_core
jupyter_server
nbclient
nbconvert
nbformat
notebook
psycopg2
scipy
sqlalchemy
dask
distributed
ipyfilechooser
ipysheet
ipywidgets
openpyxl
jupyterlab-sos
mamba